@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-image: url('https://designwoop.com/uploads/2012/05/19742-613x460.jpg');
  color:black;
  text-align: center;
  margin-top: 100px;
}
